table-light-flow.json
[{"id":"03ab5485a8120576","type":"tab","label":"状态同步","disabled":false,"info":"","env":[]},{"id":"12fc3c462513e27e","type":"server-state-changed","z":"03ab5485a8120576","name":"台灯工作状态","server":"9747c76a.b2de88","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.light_status","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":160,"wires":[["79414517be0b701e"]]},{"id":"16a95bea55269cb9","type":"api-call-service","z":"03ab5485a8120576","name":"打开台灯","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.shu_fang_tai_deng"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":120,"wires":[[]]},{"id":"b887f114d4808584","type":"api-call-service","z":"03ab5485a8120576","name":"关闭台灯","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.shu_fang_tai_deng"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":200,"wires":[[]]},{"id":"79414517be0b701e","type":"switch","z":"03ab5485a8120576","name":"判断 on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":160,"wires":[["16a95bea55269cb9"],["b887f114d4808584"]]},{"id":"05236f9335d5dd6b","type":"switch","z":"03ab5485a8120576","name":"判断 on/off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":320,"wires":[["6e96135de5b27692"],["705e01f05c223ecf"]]},{"id":"6e96135de5b27692","type":"api-current-state","z":"03ab5485a8120576","name":"获取书房台灯状态","server":"9747c76a.b2de88","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.light_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":280,"wires":[["f4b1c243cbfd7ec5"]]},{"id":"705e01f05c223ecf","type":"api-current-state","z":"03ab5485a8120576","name":"获取书房台灯状态","server":"9747c76a.b2de88","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.light_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":360,"wires":[["a30cd60c35245586"]]},{"id":"a30cd60c35245586","type":"switch","z":"03ab5485a8120576","name":"台灯开","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":360,"wires":[["b3869360da665e10"]]},{"id":"f4b1c243cbfd7ec5","type":"switch","z":"03ab5485a8120576","name":"台灯关","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":710,"y":280,"wires":[["3704813067798dcc"]]},{"id":"3704813067798dcc","type":"api-call-service","z":"03ab5485a8120576","name":"打开台灯","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.table_light_switch"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":280,"wires":[[]]},{"id":"b3869360da665e10","type":"api-call-service","z":"03ab5485a8120576","name":"打开台灯","server":"9747c76a.b2de88","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.table_light_switch"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":360,"wires":[[]]},{"id":"84f5decd72b68087","type":"server-state-changed","z":"03ab5485a8120576","name":"书房台灯开关","server":"9747c76a.b2de88","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.shu_fang_tai_deng","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":110,"y":320,"wires":[["05236f9335d5dd6b"]]},{"id":"9747c76a.b2de88","type":"server","name":"MyHome","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]